<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="data-spm" content="a222m"/>
    <meta name="aplus-terminal" content="1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>HITORAT卓图女装2015夏装新款熟女裙装拼接印花裙子短袖连衣裙 - 天猫Tmall.com</title>
    <link rel="apple-touch-icon-precomposed" href="http://img.alicdn.com/tps/i1/T1zo51XxXfXXXeOHro-144-144.png">
    <link href="http://assets.alicdn.com/p/mall/base/favicon2.ico" rel="shortcut icon" type="image/x-icon">
    <script>
        window.g_config = window.g_config || { };
        g_config.performance = { };
        g_config.performance.start = g_config.startTime = Date.now();
    </script> 
    <link rel="stylesheet" href="http://g.alicdn.com/tm/detail-m/2.2.4/??common.css,index.css,widgets/loading/loading.css,mods/header/header.css,mods/showcase/showcase.css,mods/price/price.css,mods/title/title.css,mods/adds/adds.css,mods/advantage/advantage.css,mods/action/action.css,mods/shop/shop.css,mods/recommend/recommend.css,mods/footer/footer.css" />
<script src="http://g.alicdn.com/kissy/k/1.4.13/seed-min.js"></script>
    <script>
        g_config.performance.css_end = Date.now();
    </script>
    <script src="http://g.alicdn.com/??hybrid/api/2.0.3/hybrid.min.js,mui/velocity-monitor/3.0.7/index.js"></script>
    <script>Velocity.config({id: "tm/detail-m",ver:"2.2.4",sampling: 10000});</script>
</head>
<body data-spm="7628550"><script type="text/javascript">
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","req_url=http%3a%2f%2fdetail%2em%2etmall%2ecom%2fitem%2ehtm%3fid%3d44951778483%26toSite%3dmain&amp;category=&amp;userid=&amp;b2c_orid=&amp;b2c_auction=&amp;at_isb=&amp;atp_isdpp=&amp;at_ssid=&amp;bbid=8&amp;aplus&amp;at_cart=&amp;at_udid=&xpgH2tFdJfoD&asid=AQAAAAC7bG5VJ3JgCQAAAAAjLvtyYZlEMQ==",id="tb-beacon-aplus",src=(location>"https"?"http://s":"http://a")+".tbcdn.cn/s/aplus_wap.js")
</script>

<div id="s-topBanner" style="display: none">
    <script>
    window.g_config = window.g_config || {};
    window.g_config.smartBannerVersion = '3.0.6';
</script>
</div>

<header id="s-header" class="nav">
    <a href="javascript:void(0);" class="summary current">基本信息</a>
    <a href="javascript:void(0);" class="desc">商品详情</a>
    <a href="javascript:void(0);" class="review">评价</a>
    
</header>
<div id="content">
    <div class="scroller">
        <div id="p-summary" class="page">
            <div class="container">
            
                

<section id="s-showcase" class="">
    <div class="main">
        <img src="http://img.alicdn.com/bao/uploaded/i2/TB1XxSrHFXXXXXbXVXXXXXXXXXX_!!0-item_pic.jpg_480x480q50.jpg" alt=""/>
        
    </div>
    
</section>

<section id="s-price">
    <div class="item"><b class="ui-yen">&yen;315.00</b></div>
</section>

<section id="s-title">
    <div class="main">
        <h1>HITORAT卓图女装2015夏装新款熟女裙装拼接印花裙子短袖连衣裙</h1>
        <a class="fav j-mdv" href="#" mdv-cls="detail-m/mdv/fav">收藏</a>
    </div>
    <div class="sub">
        <div class="slogon"></div>
    </div>
</section>

<section id="s-adds"></section>


<section class="itemExtraInfo">
    
    
<section id="s-advantage">
    <ul>
        
        <li class="service">
            
            <h2>服务：</h2>
            
            <ul class="v">
                
                <li >T1退货保障</li>
                
                <li >T2极速退款</li>
                
                <li >七天退换</li>
                
            </ul>
        </li>
        
    </ul>
</section>
    
</section>


<div id="s-action-container">
    <section id="s-action" data-spm="1998338746">
        <button class="buy">立即购买</button>
        <button class="cart">加入购物车</button>
        <div class="countdown"><span class="label"></span><span class="time"></span></div>
        <a href="" class="cart-link" title="购物车"></a>
    </section>
</div>



<section id="s-shop">
    <div class="main" data-spm="1998338745">
    <a href="http://hitorat.m.tmall.com" class="shop">    hitorat服饰旗舰店</a>
    </div>
    <ul class="score">
        <li>描述相符<b class="Equal">4.8</b></li>
        <li>服务态度<b class="Up">4.8</b></li>
        <li>发货速度<b class="Equal">4.7</b></li>
    </ul>
    <div class="action" data-spm="1998338747">
        <a class="go-shop" href="http://hitorat.m.tmall.com"><i></i>进店逛逛</a>
        <a class="ww-link" href="&#x2F;&#x2F;im.m.taobao.com&#x2F;ww&#x2F;ad_ww_dialog.htm?item_num_id=44951778483&amp;pds=wwseller%23h%23detail&amp;to_user=aGl0b3JhdLf%2Bys7G7L2iteo%3D"><i></i>联系卖家</a>
    </div>
</section>



<section id="s-recommend" data-spm="1998338753">
    
    <h1>看了又看</h1>
    
    <div class="list"></div>
</section>

            </div>
        </div>
        <div id="p-desc" class="page">
            <div class="container">
            <section id="s-desc"></section>
            </div>
        </div>
        
        <div id="p-review" class="page">
            <div class="container">
            <section id="s-review"></section>
            </div>
        </div>
        
    </div>
</div>

<footer id="s-footer">
    <div class="wrap">
        <div class="main">
            <div class="login" id="J_LoginInfo"></div>
            <div class="help" data-spm="1998338748">
                <a href="http://www.tmall.com/" target="_blank">天猫首页</a>
                <a href="http://m.taobao.com/channel/act/customerservice.html" target="_blank">服务中心</a>
                <a href="http://yq.open.taobao.com/h5/m/feedbacks?productId=228&source=Wireless" target="_blank">
                    <span>意见反馈</span>
                </a>
            </div>
        </div>
        <div class="copyright">
            
            <p style="text-align:center;padding:3px 0;">&copy;&nbsp;2003-2015&nbsp;Tmall.com&nbsp;版权所有</p>
            
        </div>
    </div>
</footer>
<script src='http://1.1.8.47:8080/gifted/www/js/lib/jquery/jquery-2.1.1.min.js'></script>
 <script type='text/javascript' src='http://1.1.8.47:8080/gifted/www/js/lib/jquery/DataLazyLoad.js'></script>
 <script type='text/javascript' charset='utf-8'>
 $(function() {
     $('.list').DataLazyLoad({load : function(page, unLocked){
        $.getJSON('http://1.1.8.16:8088/DetailHtmlOther?key=Haiyan.DATAS.gifted:DetailHtmlOther_23&jsonCallBack=?',function(data){
     	   $(data).appendTo('.list');
        });
     }});
 });
 </script>
</body>
</html>